@CHARSET "UTF-8";

.slides > article {
    font-family: 'Yutapon-coding-RegularBackslash', 'Yutapon-coding-Regular', 'azuki_font', Arial, sans-serif;
}

h1 {
	text-align: center;
	font-size: 120px;
}

.slides.template-default article.biglogo {
  background: white url(dev7-logo.png) 50% 50% no-repeat;
}
.slides.template-default > article:not(.nobackground):not(.biglogo) {
  background: url(dev7-logo-small.png) 780px 616px no-repeat;  
  background-color: white;  
} 
