@CHARSET "UTF-8";

.slides > article {
    font-family: 'HiraMaruPro-W4', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 120px;
}

.slides.template-default article.biglogo {
  background: white url(apl-logo.png) 50% 50% no-repeat;
}
.slides.template-default > article:not(.nobackground):not(.biglogo) {
  background: url(apl-logo-small.png) 710px 616px no-repeat;  
  background-color: white;  
} 
