@CHARSET "UTF-8";

h1 {
	text-align: center;
	font-size: 60px;
}

.slides.template-default article.biglogo {
  background: white url(hmr-logo.jpg) 50% 50% no-repeat;
}
.slides.template-default > article:not(.nobackground):not(.biglogo) {
  background: url(hmr-logo-small.png) 750px 616px no-repeat;  
  background-color: white;  
} 
